@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} /* 교보손글씨 */

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "KyoboHand", sans-serif;
} /* 모든 요소의 기본 마진과 패딩을 0으로 설정하며, Sunflower 또는 sans-serif 폰트를 사용합니다. */

.grid-container {
  display: grid;
  grid-template-columns: 1.618fr 0; /* 메인 콘텐츠와 aside를 나눕니다. */
  grid-template-rows: auto 1fr auto; /* 3개의 행을 생성합니다. */
  grid-template-areas:
    "header header"
    "main-content side-content"
    "footer footer";
  height: 100vh; /* 화면 높이에 맞게 그리드 컨테이너의 높이를 설정합니다. */
}

/* ---------- 여기 부터 헤더 영역 -------------------- */

.header {
  grid-area: header; /* 헤더를 그리드 영역에 배치합니다. */
  padding: 0px;
}

.header-section:nth-child(1) {
  margin: 0px;
}

.header-section:nth-child(2),
.header-section:nth-child(3) {
  margin: 4px;
}

.header-section:nth-child(4) {
  border: 1px solid gold; /* 금색 테두리 */
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: center; /* 가로 방향 가운데 정렬 */
}

/* ---------- 제목 영역 < 헤더 영역 -------------------- */

#title > div:nth-child(1),
#title > div:nth-child(3) {
  background-color: #f5f5f5; /* 1번과 3번 div의 배경색 (동일한 색) */
  color: #000; /* 검은색 텍스트 */
  min-width: 200px; /* 최소 너비 200px */
  text-align: center;
}

#title > div:nth-child(2) {
  margin: 0 20px;
  width: 96px;
  height: 48px;
}
h1 {
  width: 96px;
  height: 48px;
  padding: 0;
  margin: 0;
}

h1 img {
  width: 92%;
  height: 92%;
  border: 2px solid #000;
  border-radius: 6px;
}

/* ---------- 네비 영역 < 헤더 영역 -------------------- */

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: left; /* 왼쪽 방향 가운데 정렬 */
}

.navigation-menu {
  list-style-type: none; /* 점 숨기기 */
  display: flex; /* li 항목들을 가로로 나열 */
  padding: 0px; /* li 항목들의 내부 여백 제거 */
  margin: 2px;
}

.navigation-item {
  background-color: #cd313a; /* 배경색 추가 */
  color: #fff; /* 글자색 추가 */
  border-radius: 4px; /* 테두리 반경 설정 */
  margin-right: 10px; /* li 항목 간 간격을 위해 오른쪽 여백 추가 (선택적) */
  padding: 2px 10px; /* 내부 여백 설정 */
}

.navigation-item a {
  color: #fff; /* 원하는 글자색으로 변경 */
  text-decoration: none; /* 밑줄 제거 */
}

.navigation-item a:hover {
  color: #ffd700; /* 호버 시 글자색 변경 */
}

.navigation-item:last-child {
  margin-right: 0; /* 마지막 항목 오른쪽 여백 제거 (선택적) */
}

/* ---------- 기능 영역 < 헤더 영역 -------------------- */
#function {
  display: flex;
  flex-direction: row;
  justify-content: left; /* 왼쪽 방향 가운데 정렬 */
}

.function-menu {
  list-style-type: none; /* 점 숨기기 */
  display: flex; /* li 항목들을 가로로 나열 */
  padding: 0px; /* li 항목들의 내부 여백 제거 */
  margin: 2px;
}

.function-item {
  background-color: #0047a0; /* 배경색 추가 */
  color: #fff; /* 글자색 추가 */
  border-radius: 4px; /* 테두리 반경 설정 */
  margin-right: 10px; /* li 항목 간 간격을 위해 오른쪽 여백 추가 (선택적) */
  padding: 1px 10px; /* 내부 여백 설정 네비와 간격이 다르다*/
}

.function-item a {
  color: #fff; /* 원하는 글자색으로 변경 */
  text-decoration: none; /* 밑줄 제거 */
}

.function-item a:hover {
  color: #ffd700; /* 호버 시 글자색 변경 */
}

.function-item:last-child {
  margin-right: 0; /* 마지막 항목 오른쪽 여백 제거 (선택적) */
}

/* ---------- 여기 부터 메인 영역 -------------------- */

.main-content {
  grid-area: main-content; /* 메인 콘텐츠를 그리드 영역에 배치합니다. */
  overflow-y: auto; /* 위아래 스크롤을 허용합니다. */
}

.greeting {
  border: 1px solid #e9c48c;
  background-color: rgb(233, 196, 139, 0.04);
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  width: 44%; /* 최대 가로 너비 설정 */
  min-width: 300px;
  margin: 4px auto; /* 가운데 정렬 */
}

.KeyFeatures {
  border: 1px solid #fadadd;
  background-color: rgb(250, 219, 222, 0.02);
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  width: 44%; /* 최대 가로 너비 설정 */
  min-width: 300px;
  margin: 4px auto; /* 가운데 정렬 */
}

.KeyFeatures:hover {
  border: 2px solid #fadadd; /* 마우스 호버 효과 */
}

.blockManual:hover,
.textManual:hover {
  border: 2px solid #7bb274; /* 마우스 호버 효과 */
}

.blockManual,
.textManual {
  border: 1px solid #7bb274;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(124, 179, 117, 0.02);
  border-radius: 4px;
}

.blockManual p,
.textManual p {
  margin: 8px 0;
}

.blockManual ul,
.textManual ul {
  list-style: none;
  padding: 0;
}

.king {
  background: linear-gradient(to right, #ffffff, rgb(205, 49, 58, 0.5));
  border: 0px solid white;
  border-radius: 4px;
}

.election {
  background: linear-gradient(to right, #ffffff, rgb(0, 71, 160, 0.5));
  border: 0px solid white;
  border-radius: 4px;
}

.creator {
  text-align: right;
}

/* ---------- 여기 부터 사이드 영역 -------------------- */

.side-content {
  grid-area: side-content; /* 사이드바를 그리드 영역에 배치합니다. */
  border: 2px solid black; /* 빨간색 dashed 스타일의 테두리를 추가합니다. */
  border-radius: 8px;
  overflow-y: auto; /* 위아래 스크롤을 허용합니다. */
}

/* ---------- 여기 부터 푸터 영역 -------------------- */

.footer {
  grid-area: footer; /* 푸터를 그리드 영역에 배치합니다. */
  border: 2px solid #0e0e0e; /* 윤곽선 스타일 */
  border-radius: 6px;
  background-color: rgb(0, 0, 0, 0.02);
  display: none;
}

/* ---------- 여기 부터 기기에 따른 화면 크기 조절 -------------------- */

/* 뷰포트 너비가 768px 이하일 때 하단 광고 */
@media all and (max-width: 768px) {
  .grid-container {
    /* 그리드 레이아웃을 변경하여 요소들이 세로로 쌓이도록 설정 */
    grid-template-areas:
      "header"
      "main-content";
    grid-template-rows: 0.1fr auto; /* 행의 높이 설정 */
    /* 왜 0.1fr에서 화면이 맞는지 모르겠음 */
    grid-template-columns: 1fr; /* 1개의 열 설정 */
  }
  /* 네비게이션 섹션만 표시하고 다른 헤더 섹션은 숨깁니다. */
  .header-section#advertisement,
  .header-section#navigation,
  .header-section#function {
    display: block;
  }

  /* 다른 헤더 요소 숨김 처리 */
  .header-section#title {
    display: none;
  }

  /* 나머지 요소들 숨김 처리 */
  .side-content,
  .footer {
    display: none;
  }

  /* 안내화면 크기 조절  */
  .greeting {
    width: 90%; /* 768px 이하 화면에서 너비를 90%로 설정 */
  }

  /*.Goside 클래스를 가진 링크를 비활성화  */
  .Goside {
    pointer-events: none; /* 링크의 이벤트를 비활성화 */
    color: black; /* 비활성화된 링크의 색상을 회색 또는 다른 적절한 색상으로 변경 */
    text-decoration: none; /* 밑줄을 제거하거나 다른 스타일로 변경 */
    cursor: not-allowed; /* 커서 스타일을 변경하여 클릭이 불가능한 것으로 나타냄 */
  }
}
