@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} /* 교보손글씨 */

@font-face {
  font-family: "HakgyoansimWoojuR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
} /* 학교안심우주 */

@font-face {
  font-family: "Cafe24Ssukssuk";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Ssukssuk.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} /* 카페24 쑥쑥 */

@font-face {
  font-family: "Dovemayo_wild";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/Dovemayo_wild.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
} /* 거친둘기마요 */

@font-face {
  font-family: "EBSHunminjeongeumSBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} /* 훈민정음 */

@font-face {
  font-family: "EBSHMJESaeronRA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHMJESaeronRA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} /* 훈민정음 새론체 */

@font-face {
  font-family: "EBSJSKMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSJSKMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} /* EBS주시경체 */

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} /* 에스코어드림 */

/* 건국 */
.found {
  color: #8b4513;
}

/* a 태그의 글자색을 검은색으로 고정 */
a {
  color: #000;
}

/* phase 구분선 */
.line {
  text-align: center;
}

/* 경제 관련 */
.economy {
  color: #ffd700;
}

.reference {
  font-style: italic;
  color: gray;
}

.election {
  background: linear-gradient(to right, #ffffff, rgb(0, 71, 160, 0.5));
  border: 0px solid white;
  border-radius: 4px;
}

.king {
  background: linear-gradient(to right, #ffffff, rgb(205, 49, 58, 0.5));
  border: 0px solid white;
  border-radius: 4px;
}

.hideYears {
  display: none;
}
