body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "KyoboHand", sans-serif;
} /* 모든 요소의 기본 마진과 패딩을 0으로 설정하며, Sunflower 또는 sans-serif 폰트를 사용합니다. */

.grid-container {
  display: grid;
  grid-template-columns: 1.618fr 0; /* 메인 콘텐츠와 aside를 나눕니다. */
  grid-template-rows: auto 1fr auto; /* 3개의 행을 생성합니다. */
  grid-template-areas:
    "header header"
    "main-content side-content"
    "footer footer";
  height: 100vh; /* 화면 높이에 맞게 그리드 컨테이너의 높이를 설정합니다. */
}

/* ---------- 여기 부터 헤더 영역 -------------------- */

.header {
  grid-area: header; /* 헤더를 그리드 영역에 배치합니다. */
  padding: 0px;
}

.header-section:nth-child(1) {
  margin: 0px;
}

.header-section:nth-child(2),
.header-section:nth-child(3) {
  margin: 4px;
}

.header-section:nth-child(4) {
  border: 1px solid gold; /* 금색 테두리 */
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: center; /* 가로 방향 가운데 정렬 */
}

/* ---------- 제목 영역 < 헤더 영역 -------------------- */

#title > div:nth-child(1),
#title > div:nth-child(3) {
  background-color: #f5f5f5; /* 1번과 3번 div의 배경색 (동일한 색) */
  color: #000; /* 검은색 텍스트 */
  min-width: 200px; /* 최소 너비 400px */
  text-align: center;
}

#title > div:nth-child(2) {
  margin: 0 20px;
  width: 96px;
  height: 48px;
}
h1 {
  width: 96px;
  height: 48px;
  padding: 0;
  margin: 0;
}

h1 img {
  width: 92%;
  height: 92%;
  border: 2px solid #000;
  border-radius: 6px;
}

/* ---------- 네비 영역 < 헤더 영역 -------------------- */

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: left; /* 왼쪽 방향 가운데 정렬 */
}

.navigation-menu {
  list-style-type: none; /* 점 숨기기 */
  display: flex; /* li 항목들을 가로로 나열 */
  padding: 0px; /* li 항목들의 내부 여백 제거 */
  margin: 2px;
}

.navigation-item {
  background-color: #cd313a; /* 배경색 추가 */
  color: #fff; /* 글자색 추가 */
  border-radius: 4px; /* 테두리 반경 설정 */
  margin-right: 10px; /* li 항목 간 간격을 위해 오른쪽 여백 추가 (선택적) */
  padding: 2px 10px; /* 내부 여백 설정 */
}

.navigation-item a {
  color: #fff; /* 원하는 글자색으로 변경 */
  text-decoration: none; /* 밑줄 제거 */
}

.navigation-item a:hover {
  color: #ffd700; /* 호버 시 글자색 변경 */
}

.navigation-item:last-child {
  margin-right: 0; /* 마지막 항목 오른쪽 여백 제거 (선택적) */
}

/* ---------- 기능 영역 < 헤더 영역 -------------------- */
#function {
  display: flex;
  flex-direction: row;
  justify-content: left; /* 왼쪽 방향 가운데 정렬 */
}

.function-menu {
  list-style-type: none; /* 점 숨기기 */
  display: flex; /* li 항목들을 가로로 나열 */
  padding: 0px; /* li 항목들의 내부 여백 제거 */
  margin: 2px;
}

.function-item {
  background-color: #0047a0; /* 배경색 추가 */
  color: #fff; /* 글자색 추가 */
  border-radius: 4px; /* 테두리 반경 설정 */
  margin-right: 10px; /* li 항목 간 간격을 위해 오른쪽 여백 추가 (선택적) */
  padding: 1px 10px; /* 내부 여백 설정 네비와 간격이 다르다*/
}

.function-item a {
  color: #fff; /* 원하는 글자색으로 변경 */
  text-decoration: none; /* 밑줄 제거 */
}

.function-item a:hover {
  color: #ffd700; /* 호버 시 글자색 변경 */
}

.function-item:last-child {
  margin-right: 0; /* 마지막 항목 오른쪽 여백 제거 (선택적) */
}

/* ---------- 여기 부터 메인 영역 -------------------- */

.main-content {
  grid-area: main-content; /* 메인 콘텐츠를 그리드 영역에 배치합니다. */
  overflow-y: auto; /* 위아래 스크롤을 허용합니다. */
}
/* main-content 내부의 section 스타일 */

/* 여기는 분류 div 박스, details 태그에 class */
.category,
.phase1,
.phase2,
.phase3,
.phase4,
.phase5,
.phase6 {
  display: flex; /* Flexbox 사용 */
  justify-content: space-between; /* 요소 사이의 간격을 최대로 설정 */
}
.category div:nth-child(1) {
  flex: 2; /* 첫 번째 span 태그가 2:1 비율의 너비를 가짐 */
}
.category div:nth-child(2) {
  flex: 0.8; /* 두 번째 span 태그가 0.8:1 비율의 너비를 가짐 */
  font-weight: bold;
}
.category div:nth-child(3) {
  flex: 2; /* 세 번째 span 태그가 2:1 비율의 너비를 가짐 */
}
.category div:nth-child(4) {
  flex: 2; /* 네 번째 span 태그가 2:1 비율의 너비를 가짐 */
}
.category div:nth-child(5) {
  flex: 4; /* 다섯 번째 span 태그가 4:1 비율의 너비를 가짐 */
}
.category div:nth-child(6) {
  flex: 2; /* 여섯 번째 span 태그가 2:1 비율의 너비를 가짐 */
}

/* Title 1부터 Title 6 위에 있는 category-wrapper에 스타일 적용 */
.category-wrapper {
  position: sticky;
  top: 0;
  background-color: white; /* 필요에 따라 배경색을 지정할 수 있습니다. */
  z-index: 1; /* 다른 요소 위에 표시되도록 설정 */
}

/* 최상단 div 박스의 span 꾸미기 영역 */
.category div {
  border: 1px solid;
  text-align: center;
}

/* 모든 박스 곡률 */
.category div,
.phase1 div,
.phase2 div,
.phase3 div,
.phase4 div,
.phase5 div,
.phase6 div {
  border-radius: 6px;
}

/* 작은 박스들 간격 */
div:nth-child(1) {
  margin-right: 2px;
  margin-top: 2px;
}
div:nth-child(2),
div:nth-child(3),
div:nth-child(4),
div:nth-child(5),
div:nth-child(6) {
  margin: 2px 2px 0 2px;
}

/* ---------- 메인영역 내 시대별 영역 -------------------- */

details {
  display: flex;
  justify-content: space-between;
}

summary {
  cursor: pointer;
}

/* details 태그 내부의 summary 스타일 재정의: 화살표 제거 */
details summary::-webkit-details-marker {
  display: none; /* 웹킷 브라우저(Chrome, Safari)에서 기호 제거 */
}

details summary {
  list-style: none; /* Firefox 등 다른 브라우저에서 기호 제거 */
}

/* details 상단 summary안에 에피소드들 */
details > summary > div > div > p {
  margin: 2px;
}

/* 시대별 박스 안에 에피소드들 */
details > div > div > p {
  margin: 4px 2px;
}

/* 세로로 시대부분 폰트 조절 */
details > summary > div > div:nth-child(2) > p {
  font-weight: bold;
}

details > div > div:nth-child(2) > p {
  color: gray;
}

/* ---------- 고대 사회, 여기부터 phase1 -------------------- */

.phase1 div:nth-child(1) {
  flex: 2;
}
.phase1 div:nth-child(2) {
  flex: 0.8;
  text-align: center; /* 시대 구분은 가운데 정렬 */
}
.phase1 div:nth-child(3) {
  flex: 2;
}
.phase1 div:nth-child(4) {
  flex: 2;
}
.phase1 div:nth-child(5) {
  flex: 4;
}
.phase1 div:nth-child(6) {
  flex: 2;
}
/* 펼치기 전 span */
details > summary > .phase1 > div {
  border: 1px solid #80808085;
  color: black;
  text-align: left;
}

/* 마우스를 올려놨을 때 */
details > summary > .phase1 > div:hover {
  background-color: rgb(210, 180, 140, 0.02); /* 배경 색상을 변경 */
  border: 2px solid #d2b48c;
}

/* 펼친 후 span */
details > div.phase1 > div {
  background-color: rgb(210, 180, 140, 0.02); /*  배경 색상을 변경 */
  border: 2px solid #d2b48c;
  text-align: left;
}

/* ---------- 고려 시대, 여기부터 phase2 -------------------- */

.phase2 div:nth-child(1) {
  flex: 2;
}
.phase2 div:nth-child(2) {
  flex: 0.8;
  text-align: center; /* 시대 구분은 가운데 정렬 */
}
.phase2 div:nth-child(3) {
  flex: 2;
}
.phase2 div:nth-child(4) {
  flex: 2;
}
.phase2 div:nth-child(5) {
  flex: 4;
}
.phase2 div:nth-child(6) {
  flex: 2;
}
/* 펼치기 전 span */
details > summary > .phase2 > div {
  border: 1px solid #80808085;
  color: black;
  text-align: left;
}

/* 마우스를 올려놨을 때 */
details > summary > .phase2 > div:hover {
  background-color: rgb(62, 180, 137, 0.02); /* 배경 색상을 변경 */
  border: 2px solid #3eb489;
}

/* 펼친 후 span */
details > div.phase2 > div {
  background-color: rgb(62, 180, 137, 0.02); /* 배경 색상을 변경 */
  border: 2px solid #3eb489;
  text-align: left;
}
/* ---------- 조선 시대, 여기부터 phase3 -------------------- */

.phase3 div:nth-child(1) {
  flex: 2;
}
.phase3 div:nth-child(2) {
  flex: 0.8;
  text-align: center; /* 시대 구분은 가운데 정렬 */
}
.phase3 div:nth-child(3) {
  flex: 2;
}
.phase3 div:nth-child(4) {
  flex: 2;
}
.phase3 div:nth-child(5) {
  flex: 4;
}
.phase3 div:nth-child(6) {
  flex: 2;
}
/* 펼치기 전 span */
details > summary > .phase3 > div {
  border: 1px solid #80808085;
  color: black;
  text-align: left;
}

/* 마우스를 올려놨을 때 */
details > summary > .phase3 > div:hover {
  background-color: rgb(184, 38, 71, 0.02); /* 배경 색상을 변경 */
  border: 2px solid #b82647;
}

/* 펼친 후 span */
details > div.phase3 > div {
  background-color: rgb(184, 38, 71, 0.02); /* 배경 색상을 변경 */
  border: 2px solid #b82647;
  text-align: left;
}
/* ---------- 개항기, 여기부터 phase4 -------------------- */

.phase4 div:nth-child(1) {
  flex: 2;
}
.phase4 div:nth-child(2) {
  flex: 0.8;
  text-align: center; /* 시대 구분은 가운데 정렬 */
}
.phase4 div:nth-child(3) {
  flex: 2;
}
.phase4 div:nth-child(4) {
  flex: 2;
}
.phase4 div:nth-child(5) {
  flex: 4;
}
.phase4 div:nth-child(6) {
  flex: 2;
}
/* 펼치기 전 span */
details > summary > .phase4 > div {
  border: 1px solid #80808085;
  color: black;
  text-align: left;
}

/* 마우스를 올려놨을 때 */
details > summary > .phase4 > div:hover {
  background-color: rgb(109, 27, 67, 0.02); /* 배경 색상을 변경 */
  border: 2px solid #6d1b43;
}

/* 펼친 후 span */
details > div.phase4 > div {
  background-color: rgb(109, 27, 67, 0.02); /* 배경 색상을 변경 */
  border: 2px solid #6d1b43;
  text-align: left;
}

/* ---------- 일제 강점기, 여기부터 phase5 -------------------- */

.phase5 div:nth-child(1) {
  flex: 2;
}
.phase5 div:nth-child(2) {
  flex: 0.8;
  text-align: center; /* 시대 구분은 가운데 정렬 */
}
.phase5 div:nth-child(3) {
  flex: 2;
}
.phase5 div:nth-child(4) {
  flex: 2;
}
.phase5 div:nth-child(5) {
  flex: 4;
}
.phase5 div:nth-child(6) {
  flex: 2;
}
/* 펼치기 전 span */
details > summary > .phase5 > div {
  border: 1px solid #80808085;
  color: black;
  text-align: left;
}

/* 마우스를 올려놨을 때 */
details > summary > .phase5 > div:hover {
  background-color: rgb(51, 51, 51, 0.02); /* 배경 색상을 변경 */
  border: 2px solid #333333;
}

/* 펼친 후 span */
details > div.phase5 > div {
  background-color: rgb(51, 51, 51, 0.02); /* 배경 색상을 변경 */
  border: 2px solid #333333;
  text-align: left;
}

/* ---------- 광복 이후, 여기부터 phase6 -------------------- */

.phase6 div:nth-child(1) {
  flex: 2;
}
.phase6 div:nth-child(2) {
  flex: 0.8;
  text-align: center; /* 시대 구분은 가운데 정렬 */
}
.phase6 div:nth-child(3) {
  flex: 2;
}
.phase6 div:nth-child(4) {
  flex: 2;
}
.phase6 div:nth-child(5) {
  flex: 4;
}
.phase6 div:nth-child(6) {
  flex: 2;
}
/* 펼치기 전 span */
details > summary > .phase6 > div {
  border: 1px solid #80808085;
  color: black;
  text-align: left;
}

/* 마우스를 올려놨을 때 */
details > summary > .phase6 > div:hover {
  background-color: rgb(0, 91, 166, 0.02); /* 배경 색상을 변경 */
  border: 2px solid #005ba6;
}

/* 펼친 후 span */
details > div.phase6 > div {
  background-color: rgb(0, 91, 166, 0.02); /* 배경 색상을 변경 */
  border: 2px solid #005ba6;
  text-align: left;
}

/* ---------- 여기 부터 사이드 영역 -------------------- */

.side-content {
  grid-area: side-content; /* 사이드바를 그리드 영역에 배치합니다. */
  border: 2px solid black; /* 빨간색 dashed 스타일의 테두리를 추가합니다. */
  border-radius: 8px;
  overflow-y: auto; /* 위아래 스크롤을 허용합니다. */
}

/* side-content 위에 닫기 버튼  */
.category-side {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
}

.close-side-button {
  background-color: rgb(0, 0, 0, 0.02);
  color: black;
  border: 2px solid black; /* 윤곽선 스타일 */
  padding: 10px; /* 버튼 내부 여백 조절 */
  border-radius: 6px;
  cursor: pointer;
}

/* ---------- 여기 부터 푸터 영역 -------------------- */

.footer {
  grid-area: footer; /* 푸터를 그리드 영역에 배치합니다. */
  border: 2px solid #0e0e0e; /* 윤곽선 스타일 */
  border-radius: 6px;
  background-color: rgb(0, 0, 0, 0.02);
}

/* ---------- 여기 부터 기기에 따른 화면 크기 조절 -------------------- */

/* 모바일 화면 크기에 대한 스타일 */
/* 뷰포트 너비가 480px 이하일 때 하단 광고 */
@media all and (max-width: 768px) {
  .grid-container {
    /* 그리드 레이아웃을 변경하여 요소들이 세로로 쌓이도록 설정 */
    grid-template-areas:
      "header"
      "main-content";
    grid-template-rows: 1fr auto; /* 행의 높이 설정 */
    grid-template-columns: 1fr; /* 1개의 열 설정 */
  }
  /* 네비게이션 섹션만 표시하고 다른 헤더 섹션은 숨깁니다. */
  .header-section#advertisement,
  .header-section#navigation,
  .header-section#navigation#function {
    display: block;
  }

  /* 다른 헤더 요소 숨김 처리 */
  .header-section#title {
    display: none;
  }

  /* main-content 내에 nth-child(2)와 nth-child(5)를 제외한 나머지 span 숨김 */
  .category div:nth-child(1),
  .category div:nth-child(3),
  .category div:nth-child(4),
  .category div:nth-child(6),
  .phase1 div:nth-child(1),
  .phase1 div:nth-child(3),
  .phase1 div:nth-child(4),
  .phase1 div:nth-child(6),
  .phase2 div:nth-child(1),
  .phase2 div:nth-child(3),
  .phase2 div:nth-child(4),
  .phase2 div:nth-child(6),
  .phase3 div:nth-child(1),
  .phase3 div:nth-child(3),
  .phase3 div:nth-child(4),
  .phase3 div:nth-child(6),
  .phase4 div:nth-child(1),
  .phase4 div:nth-child(3),
  .phase4 div:nth-child(4),
  .phase4 div:nth-child(6),
  .phase5 div:nth-child(1),
  .phase5 div:nth-child(3),
  .phase5 div:nth-child(4),
  .phase5 div:nth-child(6),
  .phase6 div:nth-child(1),
  .phase6 div:nth-child(3),
  .phase6 div:nth-child(4),
  .phase6 div:nth-child(6) {
    display: none;
  }

  /* 나머지 요소들 숨김 처리 */
  .side-content,
  .footer {
    display: none;
  }

  /*.Goside 클래스를 가진 링크를 비활성화  */
  .Goside {
    pointer-events: none; /* 링크의 이벤트를 비활성화 */
    color: black; /* 비활성화된 링크의 색상을 회색 또는 다른 적절한 색상으로 변경 */
    text-decoration: none; /* 밑줄을 제거하거나 다른 스타일로 변경 */
    cursor: not-allowed; /* 커서 스타일을 변경하여 클릭이 불가능한 것으로 나타냄 */
  }
}
