@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0 10px;
  font-family: "KyoboHand", sans-serif;
} /* 모든 요소의 기본 마진과 패딩을 0으로 설정하며, Sunflower 또는 sans-serif 폰트를 사용합니다. */

.title {
  font-weight: bold;
  font-size: 20px;
}

.subject {
  font-weight: bold;
}

.source {
  color: gray;
  font-style: italic;
}
