@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0 10px;
  font-family: "KyoboHand", sans-serif;
  background-image: url(background_image.png);
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.subject {
  font-weight: bold;
}

.source {
  color: gray;
  font-style: italic;
}
